* {
  box-sizing: border-box;
}
body {
  background: rgb(249, 246, 234);
  font-size: 10px;
}

h1 {
  color: rgba(241, 90, 34, 1);
  font-family: "Fredericka the Great", cursive;
  font-size: 5rem;
  margin: 6rem 0.5rem 1rem 0.5rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  margin: 0 2px 2px 0;
  border: solid 1px rgba(241, 90, 34, 1);
  font-family: "Fredericka the Great", cursive;
  text-align: center;
  color: rgba(241, 90, 34, 1);
  cursor: pointer;
  font-size: 1.2rem;
  margin: 2rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  background-color: rgb(249, 246, 234);
}

p {
  color: rgba(31, 58, 147, 1);
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  text-align: center;
  margin: 3rem 1rem 1rem 1rem;
  padding: 0.5 rem;
}

@media (min-width: 720px) {
  h1 {
    font-size: 6rem;
    margin: 7rem 0.5rem 3rem 0.5rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 7rem;
    margin: 10rem 0.5rem 5rem 0.5rem;
  }
}
