* {
  box-sizing: border-box;
}
body {
  background: rgb(249, 246, 234);
  font-family: 'Handlee', cursive;
  color: rgba(31, 58, 147, 1);
  text-align: center;
  font-size: 10px;
}


canvas{
  padding:15px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  margin: 1rem;
  color: rgba(247, 202, 24, 1);
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#keyboard {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  padding: 0;
}

#keyboard li,
#reset {
  list-style:none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px 2px 0;
  border: solid 1px rgba(31, 58, 147, 1);
  background-color:rgba(31, 58, 147, 0.495);
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: base-color;
  cursor: pointer;
}

#keyboard li {
  width:30px;
  height:30px;
  font-size: 1rem;
}

#reset {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

#hold{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.8rem 0;
}

#my-word {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0 0.05rem;
  font-size: 1.5rem;
}

#lives{
  font-size: 1rem;
  margin: 1rem;
}

#clue {
  font-size:1rem;
}

#reset {
  display: none;
}

#time {
  font-size: 1rem;
  font-weight: bolder;
}

#canvas {
  width: 90%;
  height: 90%;
}

#lives {
 font-size: 1rem;
}

#clue {
  font-size: 0.8rem;
  margin: 0.8rem;
}

#answer {
  font-size: 0.8rem;
}

#message {
  font-size: 2rem;
  margin: 1rem;
}

